##
# EXAMPLE
#
# Read more about .env files when using create-react-app here:
# https://facebook.github.io/create-react-app/docs/adding-custom-environment-variables#adding-development-environment-variables-in-env
#

PUBLIC_URL=/demo/
APP_CONFIG=config/netlify.js
USE_HASH_ROUTER=false

# DCM4CHEE Server Configuration
REACT_APP_DCM4CHEE_SERVER=http://172.17.0.66:8080
REACT_APP_DCM4CHEE_AET=DCM4CHEE
